<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="lidar_scan" params="parent *joint_origin">
        <joint name="lidar_scan_joint" type="fixed">
            <xacro:insert_block name="joint_origin" />
            <parent link="${parent}" />
            <child link="lidar_scan_link" />
        </joint>
        <link name="lidar_scan_link" />
    </xacro:macro>
</robot>