<?xml version="1.0"?>
<launch>

    <arg name="algorithm_config"/>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find four_ws_robot_software)/rviz/localization.rviz"/>

    <!-- map server -->
    <arg name="map_file"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
        <param name="frame_id" value="map"/>
    </node>

    <!-- AMCL -->
    <include file="$(find four_ws_robot_software)/launch/base/amcl.launch">
        <arg name="algorithm_config" value="$(arg algorithm_config)"/>
    </include>

</launch>