<?xml version="1.0"?>
<launch>

    <arg name="mapping_algorithm"/>
    <arg name="algorithm_config"/>

    <!-- include launch with selected mapping algorithm -->
    <include file="$(find four_ws_robot_software)/launch/base/$(arg mapping_algorithm).launch">
        <arg name="algorithm_config" value="$(arg algorithm_config)"/>
    </include>

</launch>