<?xml version="1.0"?>
<launch>

    <arg name="slam_algorithm"/>
    <arg name="algorithm_config"/>
    <arg name="map_file"/>
    <arg name="robot_pose_x"/>
    <arg name="robot_pose_y"/>
    <arg name="ns"/>

    <!-- include launch with selected slam algorithm -->
    <include file="$(find four_ws_robot_software)/launch/base/$(arg slam_algorithm).launch">
        <arg name="algorithm_config" value="$(arg algorithm_config)"/>
    </include>

    <!-- map server -->
    <include file="$(find four_ws_robot_software)/launch/base/map_server.launch">
        <arg name="map_file" value="$(arg map_file)"/>
    </include>

    <!-- amcl -->
    <include file="$(find four_ws_robot_software)/launch/base/amcl.launch">
        <arg name="algorithm_config" value="$(arg algorithm_config)"/>
        <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
        <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
    </include>

    <!-- move base -->
    <include file="$(find four_ws_robot_software)/launch/base/move_base.launch">
        <arg name="algorithm_config" value="$(arg algorithm_config)"/>
    </include>

</launch>