<launch>

    <!-- RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find four_ws_robot_software)/rviz/slam.rviz"/>

    <!-- GMAPPING -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <remap from="scan" to="front/scan"/>
        <rosparam command="load" file="$(find four_ws_robot_software)/config/slam_gmapping_params/slam_gmapping_params_test.yaml"/>
    </node>

</launch>