<?xml version="1.0"?>
<launch>

    <arg name="algorithm_config"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <!-- costmap -->
        <rosparam file="$(find four_ws_robot_software)/config/costmap/costmap_common/costmap_common_$(arg algorithm_config).yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find four_ws_robot_software)/config/costmap/costmap_common/costmap_common_$(arg algorithm_config).yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find four_ws_robot_software)/config/costmap/local_costmap/local_costmap_$(arg algorithm_config).yaml" command="load"/>
        <rosparam file="$(find four_ws_robot_software)/config/costmap/global_costmap/global_costmap_$(arg algorithm_config).yaml" command="load"/>
        <!-- base global planner -->
        <rosparam file="$(find four_ws_robot_software)/config/planner/global_planners/navfn_planner/navfn_planner_$(arg algorithm_config).yaml" command="load"/>
        <!--  base local planner -->
        <rosparam file="$(find four_ws_robot_software)/config/planner/local_planners/trajectory_planner/trajectory_planner_$(arg algorithm_config).yaml" command="load"/>
        <!-- recovery -->
        <rosparam file="$(find four_ws_robot_software)/config/planner/recovery_behaviors/recovery_behaviors_$(arg algorithm_config).yaml" command="load"/>
        <!-- move base -->
        <rosparam file="$(find four_ws_robot_software)/config/movebase/movebase_$(arg algorithm_config).yaml" command="load"/>
        <!-- remap cmd_vel topic for gazebo -->
        <remap from="cmd_vel" to="nav_vel"/>
        <remap from="odom" to="odometry/filtered/local"/>
    </node>

</launch>