<?xml version="1.0"?>
<launch>

    <arg name="algorithm_config"/>
    <arg name="robot_pose_x"/>
    <arg name="robot_pose_y"/>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find four_ws_robot_software)/config/amcl_params/amcl_params_$(arg algorithm_config).yaml" command="load"/>
        <param name="initial_pose_x" value="$(arg robot_pose_x)"/>
        <param name="initial_pose_y" value="$(arg robot_pose_y)"/>
    </node>

</launch>