<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="four_ws_robot">

    <xacro:property name="M_PI" value="3.14159274" />

    <xacro:include filename="$(find four_ws_robot_description)/urdf/base/base.urdf.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/base/base.gazebo.xacro" />

    <xacro:include filename="$(find four_ws_robot_description)/urdf/camera/camera.urdf.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/camera/camera.gazebo.xacro" />

    <xacro:include filename="$(find four_ws_robot_description)/urdf/lidar_base/lidar_base.urdf.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/lidar_base/lidar_base.gazebo.xacro" />

    <xacro:include filename="$(find four_ws_robot_description)/urdf/lidar_head/lidar_head.urdf.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/lidar_head/lidar_head.gazebo.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/lidar_head/lidar_head.transmission.xacro" />

    <xacro:include filename="$(find four_ws_robot_description)/urdf/lrf/lrf.urdf.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/lrf/lrf.gazebo.xacro" />

    <xacro:include filename="$(find four_ws_robot_description)/urdf/suspension/suspension.urdf.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/suspension/suspension.gazebo.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/suspension/suspension.transmission.xacro" />

    <xacro:include filename="$(find four_ws_robot_description)/urdf/wheel/wheel.urdf.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/wheel/wheel.gazebo.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/wheel/wheel.transmission.xacro" />

    <!-- base -->
    <link name="base_footprint" />
    <xacro:base parent="base_footprint">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:base>
    <xacro:base_gazebo />

    <!-- lidar_base -->
    <xacro:lidar_base parent="base_link">
        <origin xyz="-0.022 0 0.035" rpy="0 0 0" />
    </xacro:lidar_base>
    <xacro:lidar_base_gazebo />

    <!-- lidar_head -->
    <xacro:lidar_head parent="lidar_base_link">
        <origin xyz="0.022 0 0.0" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </xacro:lidar_head>
    <xacro:lidar_head_gazebo />
    <xacro:lidar_head_trans />

    <!-- lrf sensor -->
    <xacro:lrf prefix="front" parent="base_link">
        <origin xyz="0 0 0.083" rpy="0 0 0" />
    </xacro:lrf>
    <xacro:lrf_gazebo prefix="front" min_rad="-${M_PI}" max_rad="${M_PI}" min_range="0.15" max_range="8" />

    <!-- camera -->
    <xacro:camera prefix="front" parent="base_link">
        <origin xyz="0.1 0 0.0177" rpy="0 0 0" />
    </xacro:camera>
    <xacro:camera_gazebo prefix="front" />

    <!-- steering -->
    <!-- front right -->
    <xacro:steering prefix="front_right" parent="base_link">
        <origin xyz="0.077 -0.031 -0.004" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </xacro:steering>
    <xacro:steering_gazebo prefix="front_right" />
    <xacro:steering_trans prefix="front_right" />
    <!-- front left -->
    <xacro:steering prefix="front_left" parent="base_link">
        <origin xyz="0.077 0.031 -0.004" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </xacro:steering>
    <xacro:steering_gazebo prefix="front_left" />
    <xacro:steering_trans prefix="front_left" />
    <!-- rear right -->
    <xacro:steering prefix="rear_right" parent="base_link">
        <origin xyz="-0.077 -0.031 -0.004" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </xacro:steering>
    <xacro:steering_gazebo prefix="rear_right" />
    <xacro:steering_trans prefix="rear_right" />
    <!-- rear left -->
    <xacro:steering prefix="rear_left" parent="base_link">
        <origin xyz="-0.077 0.031 -0.004" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </xacro:steering>
    <xacro:steering_gazebo prefix="rear_left" />
    <xacro:steering_trans prefix="rear_left" />

    <!-- wheel -->
    <!-- front left -->
    <xacro:wheel prefix="front_left" parent="front_left_steering_link">
        <origin xyz="0 0.021 -0.025" rpy="0 0 ${M_PI}" />
        <axis xyz="0 -1 0" />
    </xacro:wheel>
    <xacro:wheel_gazebo prefix="front_left" />
    <xacro:wheel_trans prefix="front_left" />
    <!-- front right -->
    <xacro:wheel prefix="front_right" parent="front_right_steering_link">
        <origin xyz="0 -0.021 -0.025" rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </xacro:wheel>
    <xacro:wheel_gazebo prefix="front_right" />
    <xacro:wheel_trans prefix="front_right" />
    <!--  rear left -->
    <xacro:wheel prefix="rear_left" parent="rear_left_steering_link">
        <origin xyz="0 0.021 -0.025" rpy="0 0 ${M_PI}" />
        <axis xyz="0 -1 0" />
    </xacro:wheel>
    <xacro:wheel_gazebo prefix="rear_left" />
    <xacro:wheel_trans prefix="rear_left" />
    <!-- rear right -->
    <xacro:wheel prefix="rear_right" parent="rear_right_steering_link">
        <origin xyz="0 -0.021 -0.025" rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </xacro:wheel>
    <xacro:wheel_gazebo prefix="rear_right" />
    <xacro:wheel_trans prefix="rear_right" />

    <!-- gazebo plugins -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so" />
        <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>10.0</updateRate>
            <bodyName>base_link</bodyName>
            <topicName>ground_truth/state</topicName>
            <gaussianNoise>0.01</gaussianNoise>
            <frameName>world</frameName>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
        </plugin>
    </gazebo>

</robot>