<?xml version="1.0"?>
<launch>

    <arg name="ekf_debug" />

    <!-- fused_odom_debug -->
    <group if="$(eval ekf_debug == 'local')">
        <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
            args="
                /odometry/filtered/local/pose/pose/position/x
                /ground_truth/state/pose/pose/position/x
                /odometry/filtered/local/pose/pose/position/y
                /ground_truth/state/pose/pose/position/y
                /odometry/filtered/local/pose/covariance[0]
                /odometry/filtered/local/pose/covariance[7]
                /odometry/filtered/local/pose/covariance[35]
                /odometry/filtered/local/twist/covariance[0]
                /odometry/filtered/local/twist/covariance[7]
                /odometry/filtered/local/twist/covariance[35]
                "/>
        <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot"
            args="
                --multiplot-config $(find four_ws_robot_software)/config/rqt/rqt_multiplot/ekf_local.xml
                --multiplot-run-all
                "/>
    </group>

    <!-- gps_debug -->
    <group if="$(eval ekf_debug == 'global')">
        <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
            args="
                /bottom_gps_sensor/fix/latitude
                /gps/filtered/latitude
                /bottom_gps_sensor/fix/longitude
                /gps/filtered/longitude
                /gps/filtered/position_covariance[0]
                /gps/filtered/position_covariance[4]
                "/>
        <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot"
            args="
                --multiplot-config $(find four_ws_robot_software)/config/rqt/rqt_multiplot/ekf_global.xml
                --multiplot-run-all
                "/>
    </group>

</launch>