<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="four_ws_robot">

    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/base/base.urdf.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/base/base.gazebo.xacro" />

    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/camera/camera.urdf.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/camera/camera.gazebo.xacro" />

    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/lidar_base/lidar_base.urdf.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/lidar_base/lidar_base.gazebo.xacro" />

    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/lidar_head/lidar_head.urdf.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/lidar_head/lidar_head.gazebo.xacro" />

    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/steering/steering.urdf.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/steering/steering.gazebo.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/steering/steering.transmission.xacro" />

    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/wheel/wheel.urdf.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/wheel/wheel.gazebo.xacro" />
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/wheel/wheel.transmission.xacro" />

    <!-- base_footprint -->
    <link name="base_footprint" />
    <gazebo reference="base_footprint" />

    <!-- base -->
    <xacro:base parent="base_footprint">
        <origin xyz="0 0 0.055" rpy="0 0 0" />
    </xacro:base>
    <xacro:base_gazebo />

    <!-- lidar_base -->
    <xacro:lidar_base parent="base_link">
        <origin xyz="-0.022 0 0.035" rpy="0 0 0" />
    </xacro:lidar_base>
    <xacro:lidar_base_gazebo />

    <!-- lidar_head -->
    <xacro:lidar_head parent="lidar_base_link">
        <origin xyz="0.022 0 0.0" rpy="0 0 0" />
    </xacro:lidar_head>
    <xacro:lidar_head_gazebo min_angle="-${pi}" max_angle="${pi}" min_range="0.15" max_range="8" />

    <!-- camera -->
    <xacro:camera parent="base_link">
        <origin xyz="0.1 0 0.0177" rpy="0 0 0" />
    </xacro:camera>
    <xacro:camera_gazebo />

    <!-- steering -->
    <!-- front right -->
    <xacro:steering
        prefix="front_right"
        parent="base_link"
        origin_xyz="0.077 -0.031 -0.004"
        origin_rpy="0 0 0"
        axis_xyz="0 0 1" />
    <xacro:steering_gazebo prefix="front_right" />
    <xacro:steering_trans prefix="front_right" />
    <!-- front left -->
    <xacro:steering
        prefix="front_left"
        parent="base_link"
        origin_xyz="0.077 0.031 -0.004"
        origin_rpy="0 0 0"
        axis_xyz="0 0 1" />
    <xacro:steering_gazebo prefix="front_left" />
    <xacro:steering_trans prefix="front_left" />
    <!-- rear right -->
    <xacro:steering
        prefix="rear_right"
        parent="base_link"
        origin_xyz="-0.077 -0.031 -0.004"
        origin_rpy="0 0 0"
        axis_xyz="0 0 1" />
    <xacro:steering_gazebo prefix="rear_right" />
    <xacro:steering_trans prefix="rear_right" />
    <!-- rear left -->
    <xacro:steering
        prefix="rear_left"
        parent="base_link"
        origin_xyz="-0.077 0.031 -0.004"
        origin_rpy="0 0 0"
        axis_xyz="0 0 1" />
    <xacro:steering_gazebo prefix="rear_left" />
    <xacro:steering_trans prefix="rear_left" />

    <!-- wheel -->
    <!-- front left -->
    <xacro:wheel
        prefix="front_left"
        parent="front_left_steering_link"
        origin_xyz="0 0.021 -0.025"
        origin_rpy="0 0 ${pi}"
        axis_xyz="0 -1 0" />
    <xacro:wheel_gazebo prefix="front_left" />
    <xacro:wheel_trans prefix="front_left" />
    <!-- front right -->
    <xacro:wheel
        prefix="front_right"
        parent="front_right_steering_link"
        origin_xyz="0 -0.021 -0.025"
        origin_rpy="0 0 0"
        axis_xyz="0 1 0" />
    <xacro:wheel_gazebo prefix="front_right" />
    <xacro:wheel_trans prefix="front_right" />
    <!--  rear left -->
    <xacro:wheel
        prefix="rear_left"
        parent="rear_left_steering_link"
        origin_xyz="0 0.021 -0.025"
        origin_rpy="0 0 ${pi}"
        axis_xyz="0 -1 0" />
    <xacro:wheel_gazebo prefix="rear_left" />
    <xacro:wheel_trans prefix="rear_left" />
    <!-- rear right -->
    <xacro:wheel
        prefix="rear_right"
        parent="rear_right_steering_link"
        origin_xyz="0 -0.021 -0.025"
        origin_rpy="0 0 0"
        axis_xyz="0 1 0" />
    <xacro:wheel_gazebo prefix="rear_right" />
    <xacro:wheel_trans prefix="rear_right" />

    <!-- gazebo plugins -->
    <gazebo>

        <!-- this plugin provides the ability to manage physical models of robots
        in the Gazebo environment using ROS -->
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>

        <!-- plugin that publishes the position of the coordinate system "bodyName"
        relative to "frameName" in the topic "ground_truth/state" -->
        <plugin name="gazebo_ros_p3d" filename="libgazebo_ros_p3d.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>10</updateRate>
            <bodyName>base_footprint</bodyName>
            <topicName>ground_truth/state</topicName>
            <gaussianNoise>0.01</gaussianNoise>
            <frameName>world</frameName>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
        </plugin>

    </gazebo>

</robot>