<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="four_ws_robot">

    <!-- base -->
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/base/base.urdf.xacro" />

    <!-- lidar_base -->
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/lidar_base/lidar_base.urdf.xacro" />

    <!-- lidar_head -->
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/lidar_head/lidar_head.urdf.xacro" />

    <!-- camera -->
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/camera/camera.urdf.xacro" />

    <!-- imu -->
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/imu/imu.urdf.xacro" />

    <!-- steer -->
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/steer/steer.urdf.xacro" />

    <!-- wheels -->
    <xacro:include filename="$(find four_ws_robot_description)/urdf/macros/wheel/wheel.urdf.xacro" />

    <!-- base_footprint -->
    <link name="base_footprint" />
    <gazebo reference="base_footprint" />

    <!-- base -->
    <xacro:base
        parent="base_footprint"
        origin_xyz="0 0 0.055"
        origin_rpy="0 0 0" />

    <!-- lidar_base -->
    <xacro:lidar_base
        parent="base_link"
        origin_xyz="-0.022 0 0.035"
        origin_rpy="0 0 0" />

    <!-- lidar_head -->
    <xacro:lidar_head
        parent="lidar_base_link"
        origin_xyz="0.022 0 0"
        origin_rpy="0 0 0"
        min_angle="-${pi}" 
        max_angle="${pi}"
        min_range="0.15"
        max_range="8" />

    <!-- camera -->
    <xacro:camera
        parent="base_link"
        origin_xyz="0.1 0 0.0177"
        origin_rpy="0 0 0" />

    <!-- imu -->
    <xacro:imu
        parent="base_link"
        origin_xyz="0 0 0"
        origin_rpy="0 0 0" />

    <!-- steer -->
    <!-- front right -->
    <xacro:steer
        prefix="front_right"
        parent="base_link"
        origin_xyz="0.077 -0.031 -0.004"
        origin_rpy="0 0 0"
        axis_xyz="0 0 1" />
    <!-- front left -->
    <xacro:steer
        prefix="front_left"
        parent="base_link"
        origin_xyz="0.077 0.031 -0.004"
        origin_rpy="0 0 0"
        axis_xyz="0 0 1" />
    <!-- rear right -->
    <xacro:steer
        prefix="rear_right"
        parent="base_link"
        origin_xyz="-0.077 -0.031 -0.004"
        origin_rpy="0 0 0"
        axis_xyz="0 0 1" />
    <!-- rear left -->
    <xacro:steer
        prefix="rear_left"
        parent="base_link"
        origin_xyz="-0.077 0.031 -0.004"
        origin_rpy="0 0 0"
        axis_xyz="0 0 1" />

    <!-- wheels -->
    <!-- front left -->
    <xacro:wheel
        prefix="front_left"
        parent="front_left_steer_link"
        origin_xyz="0 0.021 -0.025"
        origin_rpy="0 0 ${pi}"
        axis_xyz="0 -1 0" />
    <!-- front right -->
    <xacro:wheel
        prefix="front_right"
        parent="front_right_steer_link"
        origin_xyz="0 -0.021 -0.025"
        origin_rpy="0 0 0"
        axis_xyz="0 1 0" />
    <!--  rear left -->
    <xacro:wheel
        prefix="rear_left"
        parent="rear_left_steer_link"
        origin_xyz="0 0.021 -0.025"
        origin_rpy="0 0 ${pi}"
        axis_xyz="0 -1 0" />
    <!-- rear right -->
    <xacro:wheel
        prefix="rear_right"
        parent="rear_right_steer_link"
        origin_xyz="0 -0.021 -0.025"
        origin_rpy="0 0 0"
        axis_xyz="0 1 0" />

    <!-- gazebo plugins -->
    <gazebo>

        <!-- this plugin provides the ability to manage physical models of robots
        in the Gazebo environment using ROS -->
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>

        <!-- plugin that publishes the position of the coordinate system "bodyName"
        relative to "frameName" in the topic "ground_truth/state" -->
        <plugin name="gazebo_ros_p3d" filename="libgazebo_ros_p3d.so">
            <robotNamespace>/</robotNamespace>
            <bodyName>base_footprint</bodyName>
            <topicName>ground_truth/state</topicName>
            <frameName>map</frameName>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
            <gaussianNoise>0.01</gaussianNoise>
            <updateRate>10</updateRate>
        </plugin>

    </gazebo>

</robot>