<?xml version="1.0"?>
<launch>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find four_ws_robot_control)/config/joint_state_controller.yaml" command="load"/>
    <rosparam file="$(find four_ws_robot_control)/config/gazebo_ros_control.yaml" command="load"/>
    <rosparam file="$(find four_ws_robot_control)/config/swerve_steering_controller.yaml" command="load"/>
    <rosparam file="$(find four_ws_robot_control)/config/four_wheel_steering_controller.yaml" command="load"/>

    <!-- load the controllers:  -->
    <node name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        output="screen"
        args="joint_state_controller swerve_steering_controller">
    </node>

</launch>