<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="camera_gazebo" params="prefix">
        <gazebo reference="${prefix}_camera_link">
            <sensor type="camera" name="${prefix}">
                <pose>0 0 0 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>10</update_rate>
                <camera>
                    <horizontal_fov>1.089</horizontal_fov>
                    <image>
                        <format>R8G8B8</format>
                        <width>640</width>
                        <height>480</height>
                    </image>
                    <clip>
                        <near>0.01</near>
                        <far>100</far>
                    </clip>
                </camera>
                <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                    <frameName>${prefix}_camera_link</frameName>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>