<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find robot_description)/urdf/lidar_base/lidar_base.gazebo.xacro"/>
  
  <xacro:macro name="lidar_base_v0" params="parent *joint_origin">
	<joint name="lidar_base_link_joint" type="fixed">
	  <xacro:insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="lidar_base_link"/>
	</joint>

	<link name="lidar_base_link">
	  <visual>
		<geometry>
		  <mesh filename="package://robot_description/meshes/DAE/lidar_base/YDlidar_base.dae"/>
		</geometry>
	  </visual>
	  <collision>
		<geometry>
		  <mesh filename="package://robot_description/meshes/STL/lidar_base/YDlidar_base.stl"/>
		</geometry>
	  </collision>
	  <inertial>
		<origin xyz="0 0 0.017"/>
		<mass value="0.2"/>
		<inertia ixx="0.0000873" ixy="0" ixz="0" iyy="0.000005" iyz="0" izz="0.0000283" />
	  </inertial>
	</link>
  </xacro:macro>
  
</robot>
