<?xml version="1.0"?>
<launch>

    <!-- parameters -->
    <!-- gazebo -->
    <arg name="gui"                default="false" doc="[true, false]"/>
    <arg name="world_name"         default="turtlebot3_stage_4" doc="[..._stage_1-4]"/>
    <arg name="model"              default="$(find four_ws_robot_description)/robots/four_ws_robot.urdf.xacro"/>
    <arg name="robot_pose_x"       default="0.0"/>
    <arg name="robot_pose_y"       default="0.0"/>
    <arg name="robot_pose_z"       default="0.15"/>
    <!-- map file -->
    <arg name="map_file"           default="$(arg world_name)"/>
    <!-- algorithm_config -->
    <arg name="algorithm_config"   default="default" doc="[default, original, test]"/>
    <!-- joy -->
    <arg name="joy_dev"            default="/dev/input/js0"/>
    <arg name="joy_controller_sub" default="four_wheel_steering_controller/cmd_vel"/>
    <!-- selecting keyboard or joystick controls -->
    <arg name="use_joy"            default="false" doc="[true, false]"/>

    <!-- simulation -->
    <include file="$(find four_ws_robot_software)/launch/gazebo/simulation.launch">
        <arg name="gui"          value="$(arg gui)"/>
        <arg name="world_name"   value="$(arg world_name)"/>
        <arg name="model"        value="$(arg model)"/>
        <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
        <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
        <arg name="robot_pose_z" value="$(arg robot_pose_z)"/>
    </include>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find four_ws_robot_software)/rviz/localization.rviz"/>

    <!-- localization algorithm with output in rviz -->
    <include file="$(find four_ws_robot_software)/launch/localization.launch">
        <arg name="map_file"         value="$(find four_ws_robot_software)/maps/$(arg map_file).yaml"/>
        <arg name="algorithm_config" value="$(arg algorithm_config)"/>
        <arg name="robot_pose_x"     value="$(arg robot_pose_x)"/>
        <arg name="robot_pose_y"     value="$(arg robot_pose_y)"/>
    </include>

    <!-- launch joynode -->
    <include file="$(find four_ws_robot_software)/launch/joy_control.launch" if="$(arg use_joy)">
        <arg name="joy_dev"            value="$(arg joy_dev)"/>
        <arg name="joy_controller_sub" value="$(arg joy_controller_sub)"/>
    </include>

    <!-- keyboard control -->
    <node pkg="wr8_software" type="key_teleop.py" name="keyboard_cmd" output="screen" respawn="false" unless="$(arg use_joy)">
        <param name="turbo/steps" value="10"/>
        <param name="turbo/linear_forward_min" value="0.04"/>
        <param name="turbo/linear_forward_max" value="0.4"/>
        <param name="turbo/linear_backward_min" value="0.03"/>
        <param name="turbo/linear_backward_max" value="0.3"/>
        <param name="turbo/angular_min" value="0.05"/>
        <param name="turbo/angular_max" value="0.5"/>
        <remap from="key_vel" to="four_wheel_steering_controller/cmd_vel"/>
    </node>

</launch>