<?xml version="1.0"?>
<launch>

    <!-- parameters -->
    <!-- gazebo -->
    <arg name="gui"               default="false" doc="[true, false]"/>
    <arg name="world_name"        default="turtlebot3_house"/>
    <arg name="model"             default="$(find four_ws_robot_description)/robots/four_ws_robot.urdf.xacro"/>
    <arg name="robot_pose_x"      default="0.0"/>
    <arg name="robot_pose_y"      default="0.0"/>
    <arg name="robot_pose_z"      default="0.15"/>
    <!-- mapping algorithm and config -->
    <arg name="mapping_algorithm" default="slam_gmapping" doc="[slam_gmapping, hector_mapping]"/>
    <arg name="algorithm_config"  default="test"/>
    <!-- joy -->
    <arg name="joy_dev"           default="/dev/input/js0"/>

    <!-- parameter is used to save the map scan with the name of the map from the simulation -->
    <param name="map_name" value="$(arg world_name)"/>

    <!-- simulation -->
    <include file="$(find four_ws_robot_software)/launch/gazebo/simulation.launch">
        <arg name="gui"          value="$(arg gui)"/>
        <arg name="world_name"   value="$(arg world_name)"/>
        <arg name="model"        value="$(arg model)"/>
        <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
        <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
        <arg name="robot_pose_z" value="$(arg robot_pose_z)"/>
    </include>

    <!-- mapping algorithm with output in rviz -->
    <include file="$(find four_ws_robot_software)/launch/mapping.launch">
        <arg name="mapping_algorithm" value="$(arg mapping_algorithm)"/>
        <arg name="algorithm_config"  value="$(arg algorithm_config)"/>
    </include>

    <!-- launch joynode -->
    <include file="$(find four_ws_robot_software)/launch/joy_control.launch">
        <arg name="joy_dev" value="$(arg joy_dev)"/>
    </include>

</launch>