<?xml version="1.0"?>
<launch>

    <!-- gazebo -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="false"/>
    <arg name="recording" default="false"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="physics" default="ode"/>
    <arg name="verbose" default="false"/>
    <arg name="output" default="screen"/>
    <arg name="world_name" default="room_with_pillars_asphalt"/>
    <arg name="respawn_gazebo" default="false"/>
    <arg name="use_clock_frequency" default="false"/>
    <arg name="pub_clock_frequency" default="100"/>
    <arg name="enable_ros_network" default="true"/>
    <arg name="server_required" default="false"/>
    <arg name="gui_required" default="false"/>
    <!-- urdf model -->
    <arg name="model" default="$(find four_ws_robot_description)/urdf/config.urdf.xacro"/>
    <!-- urdf spawner -->
    <arg name="robot_pose_x" default="0.0"/>
    <arg name="robot_pose_y" default="0.0"/>
    <arg name="robot_pose_z" default="0.05"/>
    <!-- select slam algorithm ... -->
    <arg name="slam_algorithm" default="hector_mapping" doc="[hector_mapping, slam_gmapping]"/>
    <!-- ... and config -->
    <arg name="algorithm_config" default="test" doc="[default, original, test]"/>
    <!-- map file for localization and navigation -->
    <arg name="map_file" default="$(find four_ws_robot_software)/maps/$(arg world_name).yaml"/>
    <!-- rviz -->
    <arg name='rviz' default="true" />
    <!-- wheel_odom_debug (rqt_plot) -->
    <arg name="wheel_odom_debug" default="false"/>
    <!-- fused_odom_debug (rqt_plot) -->
    <arg name="fused_odom_debug" default="false"/>
    <!-- gps_debug (rqt_plot) -->
    <arg name="gps_debug" default="false"/>
    <!-- parameter is used to save the map scan with the name of the map from the simulation -->
    <param name="map_name" value="$(arg world_name)"/>

    <!-- simulation with robot -->
    <include file="$(find four_ws_robot_description)/launch/four_ws_robot.launch">
        <!-- gazebo -->
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="recording" value="$(arg recording)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="physics" value="$(arg physics)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="output" value="$(arg output)"/>
        <arg name="world_name" value="$(find maddrive_worlds)/worlds/$(arg world_name).world"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
        <arg name="use_clock_frequency" value="$(arg use_clock_frequency)"/>
        <arg name="pub_clock_frequency" value="$(arg use_clock_frequency)"/>
        <arg name="enable_ros_network" value="$(arg enable_ros_network)"/>
        <arg name="server_required" value="$(arg server_required)"/>
        <arg name="gui_required" value="$(arg gui_required)"/>
        <!-- urdf spawner -->
        <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
        <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
        <arg name="robot_pose_z" value="$(arg robot_pose_z)"/>
        <!-- urdf model -->
        <arg name="model" value="$(arg model)"/>
    </include>

    <!-- solving slam problem -->
    <include file="$(find four_ws_robot_software)/launch/drivers/$(arg slam_algorithm).launch">
        <arg name="algorithm_config" value="$(arg algorithm_config)"/>
    </include>

    <!--- rgbd odom -->
    <!-- <group ns="rtabmap">
        <include file="$(find four_ws_robot_software)/launch/drivers/rtabmap_odom.launch">
            <arg name="algorithm_config" value="$(arg algorithm_config)"/>
        </include>
    </group> -->

    <!-- solving localization problem -->
    <!-- <include file="$(find four_ws_robot_software)/launch/drivers/map_server.launch">
        <arg name="map_file" value="$(arg map_file)"/>
    </include>
    <include file="$(find four_ws_robot_software)/launch/drivers/amcl.launch">
        <arg name="algorithm_config" value="$(arg algorithm_config)"/>
        <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
        <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
    </include> -->

    <!-- ekf_local -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_local" output="screen">
        <rosparam command="load" file="$(find four_ws_robot_software)/config/robot_localization/ekf_sim.yaml" />
        <remap from="odometry/filtered" to="odometry/filtered/local"/>
    </node>

    <!-- ekf_global -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global" output="screen">
        <rosparam command="load" file="$(find four_ws_robot_software)/config/robot_localization/ekf_gps_sim.yaml" />
        <remap from="odometry/filtered" to="odometry/filtered/global"/>
    </node>

    <!-- navsat_transform -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" output="screen">
        <rosparam command="load" file="$(find four_ws_robot_software)/config/robot_localization/navsat_transform_sim.yaml" />
        <!-- inputs -->
        <remap from="odometry/filtered" to="odometry/filtered/global"/>
        <remap from="gps/fix" to="bottom_gps_sensor/fix"/>
        <remap from="imu/data" to="front_rs_d455_camera/imu"/>
        <!-- outputs -->
        <remap from="odometry/gps" to="odometry/gps"/>
        <!-- <remap from="gps/filtered" to="odometry/filtered/global"/> -->
    </node>

    <!-- keyboard control -->
    <include file="$(find maddrive_teleop)/launch/start_keyboard_teleop.launch">
        <arg name="turbo/linear_steps" value="4"/>
        <arg name="turbo/angular_steps" value="4"/>
        <arg name="turbo/linear_forward_min" value="0.04"/>
        <arg name="turbo/linear_forward_max" value="0.4"/>
        <arg name="turbo/linear_backward_min" value="0.03"/>
        <arg name="turbo/linear_backward_max" value="0.3"/>
        <arg name="turbo/angular_min" value="0.05"/>
        <arg name="turbo/angular_max" value="0.5"/>
        <arg name="cmd_topic" value="key_vel"/>
    </include>
    <!-- joystick control -->
    <include file="$(find maddrive_teleop)/launch/start_joy_teleop.launch">
        <arg name="cmd_topic" value="joy_vel" />
    </include>
    <!-- navigation control -->
    <!-- <include file="$(find four_ws_robot_software)/launch/drivers/move_base.launch">
        <arg name="algorithm_config" value="$(arg algorithm_config)"/>
    </include> -->
    <!-- twist_mux -->
    <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
        <rosparam command="load" file="$(find four_ws_robot_software)/config/twist_mux/twist_mux.yaml" />
        <remap from="cmd_vel_out" to="four_wheel_steering_controller/cmd_vel"/>
    </node>

    <!-- rviz -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find four_ws_robot_software)/rviz/full_config.rviz"/>

    <!-- wheel_odom_debug -->
    <group if="$(arg wheel_odom_debug)">
        <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
            args="
                /four_wheel_steering_controller/odom/pose/pose/position/x
                /four_wheel_steering_controller/odom/pose/pose/orientation/z
                /odometry/filtered/local/pose/pose/position/x
                /odometry/filtered/local/pose/pose/orientation/z
                /ground_truth/state/pose/pose/position/x
                /ground_truth/state/pose/pose/orientation/z"
                />
    </group>

    <!-- fused_odom_debug -->
    <group if="$(arg fused_odom_debug)">
        <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
            args="
                /odometry/filtered/local/pose/covariance[0]
                /odometry/filtered/local/pose/covariance[7]
                /odometry/filtered/local/pose/covariance[35]
                /odometry/filtered/local/twist/covariance[0]
                /odometry/filtered/local/twist/covariance[7]
                /odometry/filtered/local/twist/covariance[35]
                /odometry/filtered/local/pose/pose/position/x
                /ground_truth/state/pose/pose/position/x
                /ground_truth/state/pose/pose/position/y
                /odometry/filtered/local/pose/pose/position/y
                "/>
    </group>

    <!-- gps_debug -->
    <group if="$(arg gps_debug)">
        <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
            args="
                /bottom_gps_sensor/fix/latitude
                /bottom_gps_sensor/fix/longitude
                /gps/filtered/latitude
                /gps/filtered/longitude
                /gps/filtered/position_covariance[0]
                /gps/filtered/position_covariance[4]
                /gps/filtered/position_covariance[8]
                "/>
    </group>

</launch>
