<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="lidar_head_gazebo" params="min_rad max_rad min_range max_range">
        <gazebo reference="lidar_head_link">
            <selfCollide>false</selfCollide>
            <mu1 value="0.05" />
            <mu2 value="0.05" />
            <sensor name="lidar_head_sensor" type="ray">
                <pose>0 0 0.049 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>5</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>720</samples>
                            <resolution>1</resolution>
                            <min_angle>${min_rad}</min_angle>
                            <max_angle>${max_rad}</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>${min_range}</min>
                        <max>${max_range}</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.03</stddev>
                    </noise>
                </ray>
                <plugin name="gazebo_ros_lidar_head_controller" filename="libgazebo_ros_laser.so">
                    <topicName>scan</topicName>
                    <frameName>lidar_head_link</frameName>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>