<launch>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gmapping)/rviz/4ws_slam.rviz" />
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <remap from="scan" to="front/scan"/>
        <rosparam command="load" file="$(find gmapping)/config/gmapping_params_test.yaml" />
    </node>
</launch>