<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find maddrive_urdf_tools)/urdf/macros/inertia.urdf.xacro" />
    <xacro:include filename="$(find maddrive_urdf_tools)/urdf/macros/common.urdf.xacro" />

    <xacro:property name="rs_imu_height" value="0.01" />
    <xacro:property name="rs_imu_width" value="0.01" />
    <xacro:property name="rs_imu_length" value="0.01" />

    <xacro:macro name="imu" params="parent origin_xyz origin_rpy">

        <joint name="imu_joint" type="fixed">
            <parent link="${parent}" />
            <child link="imu_link" />
            <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
        </joint>

        <link name="imu_link">
            <visual>
                <geometry>
                    <box size="${rs_imu_length} ${rs_imu_width} ${rs_imu_height}" />
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <box size="${rs_imu_length} ${rs_imu_width} ${rs_imu_height}" />
                </geometry>
            </collision>
            <xacro:null_inertia />
        </link>

        <gazebo reference="imu_link">
            <material>Gazebo/Red</material>
            <gravity>true</gravity>
            <sensor name="imu_sensor" type="imu">
                <always_on>true</always_on>
                <update_rate>100</update_rate>
                <visualize>true</visualize>
                <topic>__default_topic__</topic>
                <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                    <topicName>/imu/</topicName>
                    <bodyName>imu_link</bodyName>
                    <updateRateHZ>20.0</updateRateHZ>
                    <gaussianNoise>0.02</gaussianNoise>
                    <xyzOffset>0 0 0</xyzOffset>
                    <rpyOffset>0 0 0</rpyOffset>
                    <frameName>imu_link</frameName>
                    <initialOrientationAsReference>false</initialOrientationAsReference>
                </plugin>
                <pose>0 0 0 0 0 0</pose>
            </sensor>
        </gazebo>

    </xacro:macro>
</robot>